body {
    font-family: 'Work Sans', 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.darkBG {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}

header .headerLogo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main div {
    width: 400px;
    padding: 20px;
}

.main2 {
    background-color: #9ea0a3;
    height: 200px;
}

.heroText {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.subtext1 {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.flexZone {
    display: flex;
    gap: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.flexZone img {
    border: 4px solid dodgerblue;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.flexZone div {
    width: 100px;
    padding: 10px;
}
.subtext2 {
    font-size: 18px;
    color: #9ea0a3;
}

.quoteZone {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    background-color: #e5e7eb;
    text-align: justify;
    padding: 40px 200px;
}

.annotation {
    font-size: 18px;
    font-style: normal;
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

.bottomText {
    background-color: #3882f6;
    color: #e5e7eb;
    width: auto;
    height: 150px;
    margin: 80px;
    padding: 20px 80px;
    border-radius: 8px;
    text-align: right;
}

.actionTitle {
    font-weight: 600;
    font-size: 24px;
    text-align: justify;
}

.subtext3 {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}
.button2 {
    background-color: #3882f6;
    color: #f9faf8;
    border-width: 2px;
    border-color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
}

footer {
    padding: 20px;
    text-align: center;
}